@charset 'utf-8';

/* -------------------------------------
foundation
---------------------------------------- */
@import "./foundation/ress";
@import "./foundation/base";

/* -------------------------------------
layout
---------------------------------------- */
@import "./layout/grid";
@import "./layout/header";
@import "./layout/main";
@import "./layout/sidebar";
@import "./layout/footer";
/* -------------------------------------
object: component
---------------------------------------- */
@import "./object/component/btn";

/* -------------------------------------
object: project
---------------------------------------- */
@import "./object/project/ttl";
@import "./object/project/searchform";

/* -------------------------------------
object: utility
---------------------------------------- */

/*-- とりあえずここに書い、その後FLOCSS化 --*/
