@charset 'utf-8';

/* -------------------------------------
foundation
---------------------------------------- */
@import "./foundation/ress";
@import "./foundation/base";
@import "./foundation/var";
@import "./foundation/mixin";

/* -------------------------------------
layout
---------------------------------------- */
@import "./layout/grid";
@import "./layout/header";
@import "./layout/main";
@import "./layout/sidebar";
@import "./layout/footer";
@import "./layout/contents";

/* -------------------------------------
object: component
---------------------------------------- */
@import "./object/component/btn";
@import "./object/component/ttl";
@import "./object/component/content";
@import "./object/component/menu";
@import "./object/component/mainvisual";
@import "./object/component/card";

/* -------------------------------------
object: project
---------------------------------------- */
@import "./object/project/ttl";
@import "./object/project/searchform";
@import "./object/project/submit";
@import "./object/project/hero";
@import "./object/project/content";
@import "./object/project/map";
@import "./object/project/gmenu";
@import "./object/project/post";
@import "./object/project/pagenation";
@import "./object/project/blockquote";
@import "./object/project/eyecatch";
@import "./object/project/grid";
@import "./object/project/list";
@import "./object/project/code";
@import "./object/project/table";
@import "./object/project/btn";
@import "./object/project/txt";

/* -------------------------------------
object: utility
---------------------------------------- */

/*-- とりあえずここに書い、その後FLOCSS化 --*/
