/* -------------------------------------
header
---------------------------------------- */
/*-- Menuボタン --*/
.c-btn__menu {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    line-height: calc(26 / 20);
    font-family: $roboto;
    color: $color__header-txt;
}

/* -------------------------------------
sidebar
---------------------------------------- */
/*-- closeボタン --*/
.c-btn__close {
    span {
        display: inline-block;
        width: 36px;
        height: 3px;
        background-color: $color__sidebar-txt;
        position: relative;

        &:first-child {
            position: absolute;
            top: 5px;
            transform: rotate(-45deg);
        }
        &:last-child {
            position: absolute;
            top: 5px;
            transform: rotate(45deg);
        }
    }
}

/* -------------------------------------
archive
---------------------------------------- */
.c-btn {
    &__card > a {
        display: inline-block;
        padding: 10px 40px;
        border-radius: 30px;
        background-color: $color__main-submit;
        color: $AccColor__main-txt;
        font-family: $m-plus;
        font-size: 1.6rem;
        font-weight: bold;
        line-height: calc(17 / 16);
    }
}
