/* -------------------------------------
header
---------------------------------------- */
/*-- Menuボタン --*/
.c-btn__menu {
    display: inline-block;
    color: $color__header-txt;
    @include font($family: $roboto, $size: 2rem, $weight: bold, $height: 1.3);

    @include tab {
        @include font($size: 3.4rem);
    }
}

/* -------------------------------------
sidebar
---------------------------------------- */
/*-- closeボタン --*/
.c-btn__close {
    span {
        display: inline-block;
        width: 36px;
        height: 3px;
        background-color: $color__sidebar-txt;
        position: relative;

        &:first-child {
            position: absolute;
            top: 5px;
            transform: rotate(-45deg);
        }
        &:last-child {
            position: absolute;
            top: 5px;
            transform: rotate(45deg);
        }
    }
}

/* -------------------------------------
archive
---------------------------------------- */
.c-btn {
    &__card > a {
        display: inline-block;
        padding: 10px 40px;
        border-radius: 30px;
        background-color: $color__main-submit;
        color: $AccColor__main-txt;
        @include font($height: 1.1, $weight: bold);
    }
}
