.c-card {
    margin-bottom: 20px;

    @include tab {
        display: flex;
        justify-content: space-between;
    }

    @include pc-l {
        margin-bottom: 30px;
    }

    &__eyecatch {
        max-width: 100%;

        @include tab {
            max-width: 50%;
            object-fit: cover;
        }
    }

    &__wrap {
        padding: 32px 17px 44px;

        @include tab {
            padding: 30px 35px 40px;
        }

        @include pc-l {
            padding: 50px 64px 60px;
        }
    }

    &__ttl {
        padding: 0 56px 40px 0;

        @include tab {
            padding: 0 30px 45px 5px;
        }

        @include pc-l {
            padding: 0 40px 60px 0;
        }
    }

    &__subttl {
        margin-top: 24px;

        @include pc-l {
            margin-top: 47px;
        }
    }

    &__desc {
        margin-top: 10px;

        @include pc-l {
            margin-top: 17px;
        }
    }

    .c-btn__card {
        display: block;
        margin: auto 27% 0 auto;

        @include tab {
            margin: auto 24.5% 0 auto;
        }
    }
}
