/* -------------------------------------
archive
---------------------------------------- */
.c-card {
    /*-- レスポンシブ時flexいる --*/
    background-color: $AccColor__main-bg;
    margin-bottom: 20px;

    &__eyecatch {
        max-width: 100%;
        object-fit: cover;
    }

    &__wrap {
        padding: 20px;
    }

    &__ttl {
        color: $color__main-ttl;
        font-family: $m-plus;
        font-size: 2rem;
        font-weight: bold;
        line-height: calc(29 / 20);
        margin-top: 10px;
        padding-right: 50px;
    }

    &__subttl {
        color: $color__main-ttl;
        font-family: $m-plus;
        font-size: 1.6rem;
        font-weight: bold;
        line-height: calc(23 / 16);
        margin-top: 24px;
    }

    &__desc {
        color: $color__main-txt;
        font-family: $m-plus;
        font-size: 1.6rem;
        line-height: calc(23 / 16);
        margin-top: 10px;
    }

    button {
        display: block;
        margin: 40px auto;
    }
}
