.c-mainvisual {
    &__front {
        background-image: url(../img/mainvisual/mainvisual-pc.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__single {
        background-image: url(../img/mainvisual/mainvisual_sigle.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__page {
        background-image: url(../img/mainvisual/page-title_shop@2x.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__archive {
        background-image: url(../img/mainvisual/archive.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        z-index: -20;

        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background-color: $black;
            opacity: 0.5;
            z-index: -10;
        }
    }
}
