.c-ttl {
    &__hero {
        @include font($weight: bold, $size: 3.6rem);

        &-sub {
            display: block;
            font-size: 1.6rem;
        }
    }

    &__sub {
        @include font($size: 2rem, $weight: bold);
        color: $subcolor__main-ttl;
        margin-bottom: 30px;
    }
}
