.c-ttl {
    &__hero {
        @include tab {
            display: flex;
            align-items: center;
        }
        &--sub {
            display: block;

            @include tab {
                padding-left: 20px;
            }
        }
    }

    &__sub {
        @include font($size: 2rem, $weight: bold);
        color: $subcolor__main-ttl;
        margin-bottom: 30px;
    }
}
