.p-btn {
    margin-right: auto;

    input {
        max-width: 429px;
        width: 100%;
        height: 81px;
        border-radius: 20px;
        margin-bottom: 30px;
        color: $subcolor__main-txt;
        @include font($weight: bold);

        @include mob-l {
            height: 104px;
            width: 429px;
            margin-bottom: 60px;
        }
    }
}
