.p-gmenu {
    &__item > a {
        font-family: $m-plus;
        font-size: 2.4rem;
        font-weight: bold;
        line-height: calc(36 / 24);
        color: $color__sidebar-ttl;
    }

    .c-menu__item > a {
        font-family: $m-plus;
        font-size: 2rem;
        line-height: calc(29 / 20);
        color: $color__sidebar-ttl;
    }
}
