/*-- front --*/
.p-hero {
    // position: relative;
    height: 285px;
    display: flex;
    align-items: center;

    .c-ttl {
        padding-left: 10%;

        &__hero {
            color: $color__main-ttl;
        }
    }
}
