/*-- front --*/
.p-hero {
    display: flex;
    align-items: center;

    .c-ttl {
        padding-left: 10%;

        &__hero {
            color: $color__main-ttl;
            @include font($weight: bold, $size: 3.6rem);

            @include pc-l {
                @include font($weight: bold, $size: 4rem);
            }

            &--sub {
                @include font($weight: bold);
            }
        }
    }

    &--archive {
        width: 100%;
        height: 283px;

        @include pc-l {
            height: 239px;
        }

        .c-ttl__hero {
            @include font($family: $roboto, $weight: bold, $size: 6rem, $height: 1.3);
        }
    }
}
