.p-pagenation {
    li,
    a {
        display: inline-block;
        color: $AccColor__main-txt;
        @include font();
    }

    &__prev::before {
        content: "<<";
        padding-right: 10px;
        font-size: 1.6rem;
    }

    &__next::after {
        content: ">>";
        padding-left: 10px;
        font-size: 1.6rem;
    }

    &.mobile {
        @include tab {
            display: none;
        }
    }

    &.tab {
        display: none;
        @include tab {
            display: flex;
        }

        li,
        a {
            @include font($family: $roboto, $weight: bold, $height: 2);
        }
    }
    &__count {
        padding-right: 7px;
    }

    &__num {
        padding: 0 10px;
        border: 1px solid $AccColor__main-txt;

        &.current {
            background-color: $AccColor__main-bg;
            color: $color__main-txt;
        }
    }
}
