%pagenation {
    background-color: rgb(255, 253, 250);

    li,
    a,
    span {
        display: inline-block;
        color: $AccColor__main-txt;
        @include font();
    }

    .page-numbers {
        width: 35px;
        height: 35px;
        padding: auto;
        text-align: center;
        border: 1px solid $AccColor__main-txt;

        &.current {
            background-color: $AccColor__main-bg;
            color: $color__main-txt;
        }
        &.prev,
        &.next {
            border: none;
        }
    }
}

.mobile .p-pagenation {
    @extend %pagenation;
    display: flex;
    justify-content: space-between;

    & > a {
        display: inline-block;
        color: $AccColor__main-txt;
        @include font();
    }

    @include tab {
        display: none;
    }
}

.tab .p-pagenation .nav-links > .page-numbers {
    @extend %pagenation;

    display: none;
    @include tab {
        display: flex;
        align-items: center;
        gap: 7px;
    }

    li,
    a,
    span {
        @include font($family: $roboto, $weight: bold, $height: 2);
    }
}

.p-pagenation__count {
    padding-right: 7px;
    display: inline-block;
    color: $AccColor__main-txt;
    @include font();
    display: none;

    @include tab {
        display: block;
    }
}
