.p-post {
    width: 100%;
    height: auto;
    padding: 20px;

    @include tab {
        padding: 35px;
    }

    &__page,
    &__single {
        width: 100%;
        height: auto;
        padding: 20px;

        @include tab {
            padding: 60px;
        }
    }

    &__ttl {
        color: $subcolor__main-ttl;
        margin: 10px 0 30px;
        @include font($size: 2.8rem, $weight: bold);
    }

    &__desc {
        margin-bottom: 20px;
        height: auto;
        color: $subcolor__main-txt;
        @include font();
    }

    &__subttl {
        margin: 34px 0 30px;
        @include font($size: 2.4rem, $weight: bold);
    }
}
