.p-searchform {
    display: inline-block;
    display: grid;
    grid-template-columns: 55% 20%;
    grid-template-rows: 1fr;
    grid-template-areas: "search submit";
    gap: 15px;
    justify-content: center;
    margin: 0 auto;
    color: $color__header-txt;
    @include font($family: serif, $weight: bold);

    @include pc-l {
        grid-template-columns: 450px 120px;
        grid-template-rows: 46px;
    }

    &__keyword {
        grid-area: search;
        display: inline-block;
        padding: 12px 23px;
        border: 1px solid $color__header-border;
        border-radius: 10px;
        background-color: #fff;

        position: relative;
    }

    &__submit {
        grid-area: submit;
        display: inline-block;
        padding: 12px 23px;
        border-radius: 10px;
    }
}
