%submit {
    border: 1px solid $gray;
    background-image: linear-gradient(0deg, $pink 0%, $pinkLight 100%);
}

.p-submit {
    border: 1px solid $gray;
    background-image: linear-gradient(0deg, $pink 0%, $pinkLight 100%);
}
