/* -------------------------------------
header
---------------------------------------- */
.p-ttl {
    display: block;
    font-size: 4rem;
    font-weight: bold;
    line-height: calc(53px-4rem);
    font-family: "Roboto", sans-serif;
    color: #707070;
}
