.l-footer {
    grid-area: footer;
    display: block;
    height: auto;
    background-color: $color__footer-bg;
    color: $color__footer-txt;
    padding: 40px 60px 30px;
    text-align: center;

    &__info {
        display: flex;
        justify-content: center;

        li {
            border-right: 2px solid;
            &:last-child {
                border-right: none;
            }
        }

        a {
            padding: 0 1.6rem;
            color: $color__footer-txt;
            @include font($size: 2rem);
        }
    }

    &__copyright {
        margin-top: 34px;
        @include font($size: 1.4rem, $height: 1.4);
    }
}
