.l-grid {
    display: grid;
    grid-gap: 0;
    // grid-template-columns: 100vw;
    // grid-template-rows: auto auto 150px;
    // grid-template-areas:
    //     "header"
    //     "main"
    //     "footer";

    grid-template-columns: 100vw 100vw;
    grid-template-rows: auto auto 150px;
    grid-template-areas:
        "header sidebar"
        "main sidebar"
        "footer sidebar";
    overflow: hidden;

    &__fixed.is-open {
        /*-- サイドバー開いた時にスクロールさせない --*/
        position: fixed;
        overflow-y: auto;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 80;
            background-color: rgb(0, 0, 0, 0.4);
        }
    }
}
