l-grid {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "header sidebar"
        "main sidebar"
        "footer sidebar";
}
