.l-header {
    grid-area: header;
    height: auto;
    padding: 40px 0;
    background-color: $color__header-bg;

    @include pc-m {
        padding-left: 60px;
        padding-right: 30px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        align-items: center;
        justify-content: space-between;
        height: 218px;
    }

    &__ttl {
        margin-bottom: 40px;
        text-align: center;

        @include pc-m {
            margin: 0;
        }
    }

    button {
        position: absolute;
        top: 16px;
        right: 14px;

        @include tab {
            right: 26px;
        }

        @include pc {
            display: none;
        }
    }
}
