.l-header {
    grid-area: header;
    height: auto;
    padding: 40px 0;
    background-color: $color__header-bg;

    @include pc-l {
        padding: 60px 30px 60px 60px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        align-items: center;
        justify-content: space-between;
    }

    &__ttl {
        margin-bottom: 40px;
        text-align: center;

        @include pc-l {
            margin: 0;
        }
    }

    button {
        position: absolute;
        top: 16px;
        right: 14px;

        @include pc {
            display: none;
        }
    }
}
