.l-main {
    grid-area: main;

    &__wrap {
        background-color: rgb(255, 253, 250);

        @include pc {
            min-height: calc(1250px - 230px);
        }
    }

    &__hero {
        width: 100%;
        height: 285px;
        @include pc-l {
            height: 530px;
        }
    }

    &__contents-front {
        width: 100%;
        height: auto;
        padding: 20px;

        @include tab {
            padding: 40px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            gap: 40px;
        }

        @include pc-l {
            padding: 120px 110px 130px;
            gap: 80px;
        }
    }

    &__map {
        width: 100%;
        height: 691px;

        @include tab {
            height: 415px;
        }

        @include pc {
            height: 650px;
        }
    }

    &__pagenation {
        margin: 0 20px;
        padding-bottom: 30px;
        gap: 7px;

        @include tab {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            margin: 0 auto;
            padding-bottom: 30px;
        }

        @include pc-l {
            padding-bottom: 64px;
        }
    }

    &__noresult {
        padding: 30px 0;
        @include font($size: 2rem);
    }
}
