.l-sidebar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    height: 2732px;
    width: 330px;
    background-color: $color__sidebar-bg;
    position: relative;
    grid-area: sidebar;
    display: none;

    @include pc {
        display: block;
        height: auto;
        overflow: hidden;
    }

    &.is-open {
        position: fixed;
        height: 100%;
        overflow-y: scroll;
    }

    &__btn {
        position: absolute;
        top: 25px;
        right: 17px;
        width: 32px;
        height: 32px;
        z-index: 110;

        @include pc {
            display: none;
        }
    }

    &__gmenu {
        margin: 210px 46px auto;
    }

    &__ttl {
        display: none;

        @include pc {
            display: block;
            position: absolute;
            top: 80px;
            right: 240px;
            z-index: 200;
        }
    }
}
